/* Table */
    table {
      border-collapse: collapse;
      border: none;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    th, td {
      border: none;              /* No cell borders */
      border : 0.8px solid white;
    }
.table-header {
    text-align: initial;
    background: #B854FF;
    background: linear-gradient(310deg, #6F3BE5, #4B3DCD, #2440B3);
    color : #fff;
    font-size: 1.4rem;
    padding : 1.2rem;
    border-color: #B854FF;
}
.table-data{
    padding: 1.2rem;
    font-size: 1.4rem;
}
.col-success {
    background: #DFFEE6;
    background: linear-gradient(110deg,rgba(223, 254, 230, 1) 20%, rgba(212, 253, 221, 1) 40%, rgba(202, 253, 213, 1) 65%, rgba(191, 253, 205, 1) 100%);
}
.col-border-success {
    border-left: 2px solid #198754;
    border-right: 2px solid #198754;
}
.col-border-danger{
    border-left: 2px solid #dc3545;
    border-right: 2px solid #dc3545;
}
.danger-text {
    color: #dc3545;
}
.success-text {
    color: #4a7e56;
}
.col-danger {
    background: #F8D7DA;
    background: linear-gradient(110deg, rgba(248, 215, 218, 1) 30%, rgba(245, 194, 199, 1) 70%);
}
.col-primary{
    color : #0d6efd;
    background: #E7F1FF;
    background: linear-gradient(110deg, rgba(231, 241, 255, 1) 30%, rgba(207, 226, 255, 1) 70%);
}
.col--1 {
    font-size: 1.4rem;
    text-align: center;
    width: 12%;
}
.col--2 {
    font-size: 1.4rem;
    text-align: center;
    width: 12%;
}
.col--3 {
    font-size: 1.4rem;
    text-align: center;
    width: 12%;
}
.col--4 {
    font-size: 1.4rem;
    width: 12%;
}
.col--5{
    font-size: 1.4rem;
    width: auto;
    border-bottom : 0.8px solid #eff0f2;
}
.col--6{
    font-size: 1.4rem;
    color: #555;
    border-bottom : 0.8px solid #eff0f2;
    width: 50% !important;
}
.col--7{
    font-size: 1.4rem;
    width: auto;
    border-bottom : 0.8px solid #eff0f2;
}